body {
  margin: 0;
  font-family: 'Google Sans Display', Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #232529;
  color: #e2e3e7;
}
